.add-shift:hover {
    background-color: rgb(196, 189, 189) !important;
}

.add-shift {
  background-color: rgb(215, 214, 214);
    border: 3px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.current-day {
  background-color: #9e9e9e;
}


.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd0d21;
    --bs-btn-border-color: #fd0d21 !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #c01d2d !important;
    --bs-btn-hover-border-color: #fd0d21 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #a71726 !important;
    --bs-btn-active-border-color: #a71726 !important;
}

.sticky {
    position: fixed;
    bottom: 40px; 
    right: 20px; 
    padding: 10px;
    border-radius: 5px;
  }

.logout {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}

.logout:hover {
    background-color: rgba(129, 129, 129, 0.68);
    opacity: 90%;
}

.shift-container {
  display: flex;
  
}

.shift-block {
  display: flex;
  background-color: #ececec;
  border: 1px solid;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 140px;
  height: 50px;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.shift-block:hover {
  background-color: #c6c6c6;
}